body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  .nav-right{
    position: absolute; 
    right:10px;
  }
  .navbar-right a{
    text-decoration: none !important;
    color: #fff;
    font-size: 1rem;
    margin-right: 4px;
    box-sizing: border-box;
  }