<div class="starter-template">
    <p class="lead">What is happening?</p>
</div>

<div class="col-md-6 offset-3">
    <form id="sendTweet">
        <input type="text" class="form-control" id="tweet">
        <br/>
        <button class="btn btn-primary">Tweet</button>
    </form>
    <br/>
    <br/>

    <div id="tweets">
        <div class="media"> 
            <div class="media-left">
                <a href="#"><img src="{{user.photo}}" alt="photo" class="media-object" /></a>
            </div>
        </div>
        <div class="media-body">
            <div class="media-heading">{{ user.name }}</div>
            <p>My name is Deep</p>
        </div>
    </div>
</div>